* {
	padding:0px;
	margin:0px;
}
ul li {
	list-style-type:none;
}
.ul_btn {
	overflow:hidden;
	padding:10px;
}
.ul_btn li {
	float:left;
	height:30px;
	text-align:center;
	line-height:30px;
	border:1px solid #ddd;
	border-radius:4px;
	margin-left:5px;
	padding:0px 10px;
	box-shadow:0px -1px 5px #c8c8c8 inset;
	font-size:12px;
	cursor:pointer;
}
.ul_btn li.active {
	box-shadow:none;
	height:25px;
	margin-top:5px;
}
.ul_btn li.noneBtn {
	background-color:#f5f5f5;
	box-shadow:none;
	cursor:auto;
}
.ul_btn li.otherLi {
	box-shadow:none;
	cursor:auto;
}
